* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  //NOte that this is setting a base 10 system, so 1.6rem is a 16 font-size or 2.2 is a 22 px font-size
}

body {
  color: dark-grey;
  // background-color: grey;
  font-family: Monospace, Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  }

button {
  cursor:pointer;
}

button:disabled {
  cursor:default;
}

.is-active {
  font-weight: bold;
  color: darken(blue, 50%);
}
